/PSP/Act1_U2_PSP/nbproject/private/
/PSP/Act1_U2_PSP/build/
/AD/MVC-3Capas-PrimerApellido-SegundoApellido-Nombre/nbproject/private/
/AD/MVC-3Capas-Alzate-Zabala-Eslem/nbproject/private/
/AD/MVC-3Capas-Alzate-Zabala-Eslem/build/
/AD/Repaso1Trimestre/nbproject/private/
/AD/Repaso1Trimestre/build/
/AD/Singleton/nbproject/private/
/AD/Decorator/nbproject/private/
/AD/LeerObj/nbproject/private/
/AD/LeerObj/build/
/PSP/U2Act2/nbproject/private/
/PSP/U2Act2/build/
/PSP/U2Act2/dist/
/AD/GestionAlumnos/nbproject/private/
/AD/GestionAlumnos/build/
/PSP/ACt2U3/nbproject/private/
/PSP/ACt2U3/build/
/PSP/ACt2U3/dist/
/PSP/SocketServer/nbproject/private/
/PSP/SocketServer/build/
/PSP/SocketClient/nbproject/private/
/PSP/SocketClient/build/
/PSP/JavaApplication15/nbproject/private/
/PSP/U2Act3/nbproject/private/
/PSP/U2Act3/build/
/PSP/Sockets/ClientSocketStream/nbproject/private/
/PSP/Sockets/ACt2U3/build/
/PSP/U2Act3B/nbproject/private/
/PSP/U2Act3B/build/